@use '../base/config';

.footer {
	padding: 20px 0;

	&__social-wrapper {
		width: fit-content;
		margin: 0 auto;
	}

	&__social {
		display: inline-block;
		margin: 0 auto;
		width: 42px;
		height: 42px;
		transition: 0.25s ease opacity;
		color: var(--color-social);
	}

	&__social svg {
		max-width: 100%;
		max-height: 100%;
	}

	&__social {
		&--github {
			@include config.interactive-states {
				& {
					opacity: 0.63;
				}
			}
		}
	}

	&__social:not(:first-of-type) {
		margin-left: 10px;
	}
}
