@use '../base/config';

.form {
	&__inner-wrapper {
		background-color: var(--color-form-background);
		border-bottom: 4.5px solid config.$dimgrey;
		padding: 10px;
	}

	&__option {
		position: relative;
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding: 2px 6px;
		box-sizing: border-box;
		border: 2px solid config.$blackLight;
		border-bottom: none;

		&:not(:first-of-type) {
			margin-left: 5px;
		}

		& > * {
			cursor: pointer;
		}
	}

	&__radio {
		width: 100%;
		height: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: config.$dimgrey;
		border-radius: 0;
		display: block;
		margin: 0;
		left: 0;
		right: 0;
		position: absolute;
		transition:
			background-color 0.15s 0s ease,
			border 0.15s 0s ease;
		border: 2px solid config.$lightgray;
		border-bottom: none;

		@include config.interactive-states {
			& {
				border-color: config.$accent;
				background-color: config.$forestgreen;
			}
		}

		&:checked {
			border-color: config.$accent;
			background-color: config.$forestgreen;
		}

		&:focus {
			border-color: config.$white;
		}

		& + label {
			z-index: 1;
			color: config.$white;
			line-height: 1rem;
		}
	}

	&__result,
	&__input {
		border: 2px solid var(--color-input-border);
		border-radius: 0;
		box-sizing: border-box;
		background-color: var(--color-input-background);
		color: var(--color-input-text);
	}

	&__input {
		padding: 8px;
		display: block;
		width: 100%;
		resize: vertical;
		cursor: auto;
		min-height: 70px;
		margin-bottom: 15px;

		&--highlight {
			border-color: config.$accent;
		}
	}

	&__result {
		width: 100%;
		resize: vertical;
		margin: 0;
		display: flex;
	}

	& &__code {
		height: 200px;
		background: inherit !important;
		width: 100%;
		padding: 8px !important;
		resize: vertical;
		overflow-y: auto;
		min-height: 75px;
		font-family: config.$userfont;
		white-space: pre-wrap;
		overflow-wrap: break-word;
		box-sizing: border-box;
		content-visibility: auto;

		&:empty:not(:focus)::before {
			content: attr(data-message);
		}
	}

	&__label {
		margin-bottom: 5px;
		display: block;
		color: var(--color-label);
	}

	&__result-wrapper {
		position: relative;
		overflow: hidden;

		&--loading {
			user-select: none;
			pointer-events: none;

			.form__result {
				filter: brightness(60%);
			}
		}
	}

	&__button {
		display: block;
		padding: 8px 16px;
		margin: 0;
		background-color: config.$forestgreen;
		cursor: pointer;
		border: none;
		border-bottom: 2px solid config.$darkslategray;
		color: config.$white;
		font-size: 0.8em;
		line-height: 1em;
		transition: 0.25s ease background-color;

		&-wrapper {
			width: fit-content;
			border: 2px solid config.$black;
			margin: 0 auto 10px;
		}

		@include config.interactive-states {
			& {
				background-color: config.$accent;
			}
		}
	}

	&__textarea-wrapper {
		position: relative;
	}
}

.form__uploader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	@include config.interactive-states {
		& + label {
			background: config.$transparentwhite;
		}
	}
}

.form-button {
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	padding: 1px;
	border: none;
	border-radius: 0;
	background: none;
	box-sizing: content-box;
	color: config.$white;

	@include config.interactive-states {
		& {
			background: config.$transparentwhite;
		}
	}

	&__icon {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: var(--color-icon);
	}
}

.form__actions {
	display: flex;
	align-items: center;
	column-gap: 10px;
	border: 2px solid config.$blackLight;
	border-bottom: none;
	background-color: config.$dimgrey;
}

.form__action-wrapper {
	display: flex;
	padding: 3px;
}

.form__radio-group {
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
}
